html {
  min-height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(/img/bg_1.jpg);
  background-position: top;
  background-blend-mode: darken;
  /* background-color: rgb(223, 216, 176); */
  min-height: 100%;
}

/* Header */
.header .brand-logo img {
  width: 30px;
}
.header .nav-item a {
  padding: 1em;
  text-decoration: none;
  color: #444;
}

.header .nav-item a:hover {
  background: #ccc;
}

.content {
  background: none;
}

.card {
  background: rgba(255, 255, 255, 0.9);
}

/* Notifications */
.notifications {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
